@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "Amarkitchen";
  default: false;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(96% 0.001 286.375);
  --color-base-300: oklch(92% 0.004 286.32);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: rgb(255, 101, 0);
  --color-primary-content: oklch(96% 0.015 12.422);
  --color-secondary: rgb(251, 126, 45);
  --color-secondary-content: oklch(25% 0.092 26.042);
  --color-accent: oklch(67% 0.182 276.935);
  --color-accent-content: oklch(25% 0.09 281.288);
  --color-neutral: rgb(15, 14, 14);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(76% 0.233 130.85);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.5rem;
  --radius-field: 0.2rem;
  --radius-box: 0.2rem;
  --size-selector: 0.2rem;
  --size-field: 0.2rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}
